/* Global Styles */
body {
    background-color: #848C49;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


/* Mobile Styles */

#container {
    background-color: #176607 ;
    margin: 10px;
}

header {
    background-image: url('../images/main.jpg');
    background-size: cover;
    padding: 60px 0;
}

header h1 {
    color: #000;
    text-align: center;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #176607;
    color: #F2CF8D;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
    border-radius: 10px;
}

nav li a:hover {
    background-color:#70bf4b;
    text-shadow: 2px 2px 2px #000;
}

nav, section, aside, .col, footer {
    background-color: #F2CF8D;
    padding: 10px;
    margin: 10px;
    border: 4px solid #176607;
    border-radius: 10px;
}

h2, h3 {
    color: #176607;
    text-shadow: 2px 2px 2px;
    font-size: 2em;
    text-align: center;
}

section img, aside img {
    width: 50%;
}

.button {
    display: block;
    background-color: #176607;
    color: #F2CF8D;
    height: 40px;
    width: 200PX;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 10px auto;
    border-radius: 10px;
}

.button:hover {
    background-color: #70bf4b;
    text-shadow: 2px 2px 2px #000;
}

footer {
    text-align: center;
    color: #176607;
    font-size: 1.5em;
}

.single_col {
    width: 83%;
}

audio, video {
    display: block;
    margin: 20px auto;
    width: 75%;
}

iframe {
    display: block;
    margin: 10px auto;

}

.gallery_img {
    border: 4px solid #176607;
    border-radius: 10px;
    margin: 10px auto;
}

table {
    display: none;
}


/* Tablet Styles */

@media(min-width: 768px) {
    header {
        padding: 125px;
    }

    header h1 {
        font-size: 3em;
    }

    nav {
        text-align: center;
        padding: 5px;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        height: 50px;
        line-height: 50px;
        width: 200px;
    }

    #upper_flex {
        display: flex;
    }

    section, aside {
        width: 50%;
    }

    aside img {
        width: 50%;
    }

    .col img {
        width: 60%;
        border-radius: 10px;
        border: 4px solid #176607;
    }

    .single_col {
    width: 95%;
    }

    .gallery_img {
        display: none;
    }
}



/* Desktop Styles */

@media(min-width: 1024px) {
    #container {
        width: 65%;
        border-radius: 4%;
        border: #070706;
        margin: 20px auto;
    }

    header {
        border-radius: 20px 20px 0 0;
    }

    nav li a {
        margin: 0 20px;
    }

    #lower_flex {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col img {
        width: 100%;
    }

    .single_col {
    width: 100%;
    }
    
    .gallery_img{
        display: none;
    }
    
    table, tr, td {
        border: 4px solid #176607;
        padding: 10px;
        margin: 10px;
    }

    table img {
        width: 100%;
    }

    table {
        display: block;
    }

}